body,html{
   height:100%;
   margin:0;
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.8em;
   color: #666;
   
}
*{
    box-sizing: border-box;
}

.pimg1, .pimg2, .pimg3{
    position:relative;
    overflow-x: hidden;
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.grid-container{

    background-color: #666;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
    margin: 0 auto;
    grid-gap: 10px;
    padding: 20px 20px 20px 20px;
    
    }
    .grid-item{
    background-color: white;
    height:170px;
    width:170px;
    padding:10px 10px 10px 10px
    }



.pimg1{
    background-image: url('images/Clouds-background-1-1024x644.png');
    min-height: 100%;
    background-attachment: fixed;
}

.mountainBottom{
    
    background-image: url('images/Forground2-1024x517.png');
    min-height: 40em;
    width: 120%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right:0;
    margin-left: -300px;
    background-position-x: 25%;
    background-size: cover;
    z-index: 3;
}
.leftUpperMountain{
    background-image: url('images/midground-mountain-1-1024x676.png');
    position: absolute;
    width:1000px;
    height:700px;
    z-index: 2;
    margin-left:-50%;
    bottom:20%;
}
.backgroundClouds{
    background-image: url('images/Background-clouds-and-mountains-1-1024x538.png');
    position: absolute;
    width: 2000px;
    height:700px;
    z-index: 2;
    bottom:0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.rightUpperMountain{
    background-image: url('images/midground-mountain-2-1024x506.png');
    position: absolute;
    width: 700px;
    height:900px;
    z-index: 2;
    bottom:10%;
    right: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.backgroundMountainsSmall{
    background-image: url('images/background\ mountains1\ Copy.png');
    width:900px;
    height:200px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    right:20%;
    top:50%;
}

.logo{
    position: relative;
    width:250px;
    height:250px;
    margin: 0 auto;
    background-image: url('images/Logo\ Copy\ 2.png');
    
    background-size: cover;
    background-repeat: no-repeat;
    z-index:3;
    bottom:0;
}
.birdBox{
    line-height: 50px;
    top:10%;
    left:30%;
    
    width:500px;
    height:500px;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    color:white;
    font-size: 20px;
    z-index:4;
}

.blackBird{
    top:30%;
    right:0;
    width:250px;
    height:400px;
    margin: 0 auto;
    background-image: url('images/black-bird-with-doves_0-923x1024.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    z-index:3;
}

        .pimg2{
            background-image: url('images/Page\ 2\ parallax.png');
            min-height: 100%;
        }
        .aboutMe{
            position: absolute;
    top:30%;
    width:100%;
    text-align: left;
    color: #000;
    display:flex;
    letter-spacing: 8px;
    text-transform: uppercase;
          padding:50px 50px;  
    
        }
        .aboutMe p{
            font-size: 0.7rem;
        }

        .aboutMe .border{
            
            background-color: cornflowerblue;
            color:#fff;
            padding:20px;
            line-height: 20px;
            z-index:5;
        }
        .coins{
            height:250px;
            width:250px;
        }

                .pimg3{
                    position: relative;
                    margin-top:-1090px;
                    background-image: url('images/Page\ 3\ Parallax.png');
            height: 2000px;
                }

                .middle3{
                   position: absolute;
                   top:75%;
    width:100%;
    font-size: 50px;
    color:white;
    height:100px;
                   margin: 0 auto;
                   text-align: center;
                   z-index: 4;
                }