body,html{
   height:100%;
   margin:0;
   font-size: 16px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   line-height: 1.8em;
   color: #666;
}

.pimg1{
    position:relative;
    
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.pimg1{
    background-image: url('images/Clouds-background-1-1024x644.png');
    min-height: 100%;

}
.mountainBottom{
    
    background-image: url('images/Forground2-1024x517.png');
    min-height: 40em;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    background-position-x: 25%;
    background-size: cover;
}