
body,html{
 
  margin:0;
  font-size: 16px;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  background-color: black;
}
*{
   box-sizing: border-box;
   margin:0;
}
.part1, .pimg2, .pimg3{
   position:relative;
   overflow-x: hidden;
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   
}
.part1{
   height: 1000px;
   width: 100%;
   background-attachment:fixed;
}
.midMount1{
   position: absolute;
   width:1000px;
   height:700px;
   z-index: 2;
   margin-left:-40%;
   margin-top:200px;
}
.backClouds1{
   position:relative;
   overflow-x: hidden;
   background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   z-index:2;
  
}

.forGround1{
   min-height: 60%;
    width: 100%;
    overflow-x: hidden;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right:0;
    margin-left: -400px;
    margin-top: 100px;
   
    background-size: cover;
    z-index: 3;
}
.rightMount1{
   position: absolute;
   width: 700px;
   height:900px;
   z-index: 2;
   bottom:10%;
   right: 0;
   background-repeat: no-repeat;
   background-size: cover;
}
.rightbird1{
   top:30%;
   right:0;
   width:250px;
   height:400px;
   margin: 0 auto;
   position: absolute;
   background-size: cover;
   background-repeat: no-repeat;
   z-index:3;
}
.middleText{
   text-align: center;
   margin-top: 100px;
   animation: MoveUpDown 2s linear ;
}
@keyframes MoveUpDown {
   0%, 100%{
      margin-top:-790px;
   }
   50%{
      margin-top:-755px;
   }
}
.logo{
   height: 250px;
   width:250px;
   z-index: 4;
   position: relative;
}
.pimg2{
   margin-top: -130px;
   
   height: 1000px;
   width: 100%;
}
.aboutMe{
   position: absolute;
top:30%;
width:100%;
text-align: left;
color: #000;
display:flex;
letter-spacing: 8px;
text-transform: uppercase;
 padding:50px 50px;  

}
.grid-container{
   
   width: 1000px;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   
   margin: 0 auto;
   grid-gap: 10px;
   padding: 20px 20px 20px 20px;
   
   }
   .galleryImage{
      height: 150px;
      width:150px;
      
    }
   .grid-item{
   background-color: rgb(172, 172, 172);
   height:170px;
   width:170px;
   padding:10px 10px 10px 10px
   }

.aboutMe p{
   font-size: 10px;
}
.aboutMe .border{
            
   background-color: cornflowerblue;
   color:#fff;
   padding:20px;
   line-height: 20px;
   z-index:5;
}
.coins{
   height:250px;
   width:250px;
}



.pimg3{
   position: relative;
  width: 100%;
   bottom: 0;
height: 2000px;
margin-top:-1090px;
}

.middle3{
  position: absolute;
  top:55%;
width:100%;
font-size: 50px;
color:white;
height:100px;
  margin: 0 auto;
  text-align: center;
  z-index: 4;
}

@media only screen and (min-width: 1350px) {
   .midMount1{
      margin-left: 200px;
      
      height: 500px;
      width:500px;
      background-position:center;
   background-size: cover;
   background-repeat: no-repeat;
   }
   .forGround1{
      height:500px;
      width:1400px;
      margin-top:200px;
      margin-left: 290px;
      position: relative;
   }
  .rightMount1{
     height: 500px;
     width:800px;
     margin-right: 200px;
     margin-bottom: 200px;
  }
  .rightbird1{
     margin-right: 450px;
     margin-top: -50px;
  }
  .middleText{
   text-align: center;
   margin-top: -700px;
   position: relative;  
}
.aboutMe{
width:1000px;
text-align: center;
margin: 0 auto; 
position: relative;
}
 }